
/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Estilo Principal */
html,
body {
	font-family: 'Monserrat', sans-serif;
	color: #000000;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
	font-weight: 500;
}
h4 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
	font-weight: 300;
}

a {
	text-decoration: none;
}
/* Clases de Utilidad */
.container {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}

.large {
	font-size: 1.25rem;
}

.txt-azul {
	color: #101179;
}

.display-1 {
	font-size: 4rem;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn-round {
	border-radius: 20px;
}

.btn-dark {
	background: #1b1981;
	border: 1px solid #1b1981;
	color: #fff;
}

.btn-dark:hover {
	background: #1b1981;
	color: #fff;
}

form label {
	display: inline-block;
	margin-bottom: 6px;
}

form .form-group {
	margin-bottom: 16px;
}

form .form-control {
	display: block;
	width: 100%;
	padding: 7px 12px;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background: #fff;
	border: 1px solid #ced4da;
	border-radius: 4px;
}

/* HeaderPrincipal */
#mainheader {
	background: radial-gradient(at 10% 10px, #010688ad,#a4a4bb, #fff);
	height: 130vh;
}

/* Navbar */
#navbar {
	color: rgb(18, 20, 122);
	overflow: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

#navbar a {
	color:#000000;
}

#navbar .logo {
	float: left;
	padding-top: 15px;
	font-size: 31px;
}

#navbar ul {
	list-style: none;
	float: right;
}

#navbar ul li {
	float:left;
}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align:center;
}

#navbar ul li a:hover {
	color: #1b1981;
}

/* Showcase */
#showcase {
	padding: 80px 0;
}

.showcase-row {
	display:flex;
	padding: 150px 0;

}

.showcase-row-title p.large {
	padding-bottom: 15px;
}

/* Mis Talleres*/
#Mis-Clases {
	padding: 80px 0;
	text-align: center;
}

#Mis-talleres p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.Mis-talleres-row {
	display:flex;
}

.Mis-talleres-row img {
	width: 100%;
	padding: 10px;
	border-radius: 30px;
}

/* Sobre mi*/
#about {
	padding: 80px 0;
	text-align: center;
}

#about h2 {
	padding-bottom: 50px;
}

#about p {
	padding-bottom: 20px;
}

/* Contact */
#contact {
	padding: 80px 0;
}

#contact h2 {
	text-align: center;
}

#contact p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.contact-row {
	display: flex;
	padding: 20px;
}

.contact-row-img {
	width: 50%;
}

.contact-row-img img {
	padding: 120px;
}

.contact-row-form {
	width: 50%;
	border: 1px solid #c4c4c4;
	border-radius: 10px;
	padding: 70px;
}

.contact-row-form h4 {
	padding-bottom: 40px;
	text-align: center;
}

.contact-row-form button {
	width: 100%;
}

/* Footer */
#mainfooter {
	text-align: center;
	padding: 30px;
}

/*galeria*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.Mis-talleres{
    font-family: 'open sans';
}

.Mis-talleres h2{
    text-align:center;
    margin:20px 0 20px 0;
    font-weight: 300;
}

.linea{
    border-top: 5px solid #000000;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(255, 255, 255, 0.453) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2{
    color:#101179;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }

}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn-round1 {
	border-radius: 20px;
}

.btn-dark1 {
	background: #1b1981;
	border: 1px solid #1b1981;
	color: #fff;
}

.btn-dark:hover {
	background: #1b1981;
	color: #fff;
}
